body{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    background-color: brown;
}

.nav-container{
    background-color: green;
    padding: 50px 20px 50px 25px;
    margin: 5px;
    margin-right: -6px;
    margin-left: -7px;
    margin-top: -8px;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
    position: fixed;
    top: 0;
    z-index: 99;
}

.nav-container.scrolled {
    background: linear-gradient(to bottom, green 0%, green 50%, transparent 100%);
}

.sign-in{
    float: right;
    height: 40px;
    width: 80px;
    border: 1px solid red;
    margin-top: -30px;
    margin-right: 15px;
    border-radius: 15%;
    font-family: Titillium Web;
    font-size: 16px;
    opacity: 1;
    transition: 0.3s;
}

.sign-in.hide {
    opacity: 0;
    pointer-events: none;
}

.nav-button{
    float: left;
    margin: 5px;
    margin-left: 15px;
    padding: 10px;
    background-color: blue;
    color: black;
    text-decoration: none;
    overflow: hidden;
    margin-top: -10px;
    margin-right: 15px;
    border-radius: 15%;
    font-family: Titillium Web;
    font-size: 16px;
    opacity: 1;
    transition: 0.5s;
}

.nav-button:hover{
    background-color: aqua;
}

.sign-in:hover{
    background-color: red;
}

.nav-button.hide{
    opacity: 0;
    pointer-events: none;
}

.about{
    width: 100%;
    padding-left: 10px;
    margin-left: -7px;
    padding-right: 10px;
    margin-right: -7px;
    padding-top: 200px;
    font-family: Titillium Web;
}

.gallery{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.row1{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 30px;
}

.row2{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 30px;
}

.row3{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 30px;
}

.row4{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.galleryitem{
    border: 4px solid yellow;
    background-color: orange;
    border-radius: 15%;
    width: 29%;
    text-align: center;
}

.footer{
    width: 100%;
    padding-left: 10px;
    margin-left: -7px;
    padding-right: 10px;
    margin-right: -7px;
    margin-bottom: -5px;
    margin-top: 30px;
    background-color: green;
    text-align: center;
}